@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0, 102, 255;
    --color-primary-hover: 6, 54, 127;
    --color-primary-dark: 1, 25, 61;
    --color-positive: 11, 140, 9;
    --color-positive-hover: 3, 158, 0;
    --color-negative: 216, 75, 75;
    --color-negative-hover: 187, 37, 37;
    --color-negative-pressed: 146, 3, 3;
    --color-warning: 223, 227, 12;
    --color-warning-hover: 149, 152, 28;
    --color-triarty: 255, 255, 255;
    --color-triarty-hover: 228, 228, 228;
    --color-triarty-disable: 171, 171, 171;
    --color-black: 0, 0, 0;
  }

  html {
    font-family: "Lato", sans-serif;
  }
}
